[user]
    name = Gabriel Lindman
    email = gabriel.lindman@volvocars.com
    signingkey = 64C87C1DE10A5093

[core]
    autocrlf = input
    editor = zed --wait
    excludesfile = ~/.gitignore_global

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[pull]
    ff = only

[init]
    defaultbranch = main

[commit]
    template = ~/.stCommitMsg
    gpgsign = true

[gpg]
    program = gpg
